body{
    margin: 0;
    padding: 0;
    background: url(https://lh3.googleusercontent.com/proxy/hjPLpF4ADEnbpjavoTPVIAWo61rRsy_cE_stBQUVDTtrX2i8tPYqM1ouCvIOUUZfaiThITQ0MToYz1Y3ukCY873pUanmOKFEK3uUt-nJWQeqFt6q0pCdExms-Hw);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
