*{
    margin: 0;
    padding: 0;
    outline: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    background: url(https://image.winudf.com/v2/image1/Y29tLml6YW5ha2kuaXRhY2hpLmJsYWNrd2FsbHBhcGVyc19zY3JlZW5fM18xNTQ2NDk2NzY1XzA2MQ/screen-3.jpg?fakeurl=1&type=.jpg);   
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: sans-serif;
}
